body {
    font-family: "lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 1.9em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em 1em;
}

header .nav-link:hover {
    color: #ddd;
}

header .title-link {
    margin-left: -200px; /* Movemos mucho más a la izquierda */
    font-size: 28px;
}

header .start-link {
    font-size: 22px;
}

.container {
    max-width: 1000px; /* Aumentamos el ancho máximo */
    margin: auto;
    font-size: 21px;
    padding: 80px 120px 80px 120px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 100%;
    max-width: 600px; /* Aumentamos el ancho máximo del formulario */
    margin: 0 auto; /* Centramos el formulario */
}

.contact-form label {
    display: block;
    margin-bottom: 0.5em;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid rgba(185, 117, 0, 0.685);
    border-radius: 25px;
    margin-bottom: 1em;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    font-size: 15px;
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

contact-form button:hover {
    background-color: #555;
}


footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 1em;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
